{% extends "base.html" %}
{% block title %}Favorites{% endblock %}
{% block content %}
<h1>Favorites</h1>

<p>
  <a href="{% url 'my_vehicles' %}">My Vehicles</a> |
  <a href="{% url 'my_posts' %}">My Posts</a>
</p>

<ul>
  {% for kind, obj, dt in items %}
    <li>
      {% if kind == "vehicle" %}
        [Vehicle] <a href="{% url 'vehicle_detail' obj.id %}">{{ obj.title }}</a>
        ({{ obj.model.maker }} {{ obj.model.name }})
        {% if obj.images.all|length %}
          - <img src="{{ obj.images.all.0.image.url }}" width="120" alt="">
        {% endif %}
      {% else %}
        [Post] <a href="{% url 'post_detail' obj.id %}">{{ obj.title }}</a>
        {% if obj.images.all|length %}
          - <img src="{{ obj.images.all.0.image.url }}" width="120" alt="">
        {% endif %}
      {% endif %}
      <small>fav at {{ dt }}</small>
    </li>
  {% empty %}
    <li>No favorites yet.</li>
  {% endfor %}
</ul>
{% endblock %}
