{% extends "base.html" %}
{% block title %}My Vehicles{% endblock %}
{% block content %}
<h1>My Vehicles</h1>

<p>
  <a href="{% url 'my_posts' %}">My Posts</a> |
  <a href="{% url 'my_favorites' %}">Favorites</a>
</p>

<ul>
  {% for v in vehicles %}
    <li>
      <a href="{% url 'vehicle_detail' v.id %}">{{ v.title }}</a>
      ({{ v.model.maker }} {{ v.model.name }})
      {% if v.images.all|length %}
        - <img src="{{ v.images.all.0.image.url }}" width="120" alt="">
      {% endif %}
    </li>
  {% empty %}
    <li>No vehicles yet. <a href="{% url 'vehicle_create' %}">Add Vehicle</a></li>
  {% endfor %}
</ul>
{% endblock %}
