<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Cub Meet{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="/vehicles/">Vehicles</a> |
    <a href="/posts/">Posts</a> |
    <a href="/vehicles/new/">Add Vehicle</a> |
    <a href="/posts/new/">Add Post</a> |
    <a href="{% url 'favorite_list' %}">Favorites</a>
    <a href="{% url 'mypage' %}">MyPage</a>

    {% if user.is_authenticated %}
      Hello, {{ user.username }} |
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'login' %}">Login</a> |
      <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    | <a href="{% url 'event_list' %}">Events</a>

  </nav>

  <hr>

  {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  <hr>
{% endif %}

  {% block content %}{% endblock %}
</body>
</html>
